/** {
   outline: 1px solid red !important;
}
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.about-page{
    text-align: center;
    margin: 0px;
}

.about-page #Capital{
    color: #39CCCC;
}


.about-page a{
    color: #AAAAAA;
    text-decoration: none;
    padding-left: 0;
    font-size: 1rem;
       }


.about-page a:hover{
    color: #39CCCC;
}

.about-page li:after{

    content: '/' ;
    padding:0 3px;
    color: #39CCCC;
}


 .about-page li:last-child:after {
    content: none;
 }


.about-section{
    color: #AAAAAA;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.8em;
    color: #858585;
    font-size: 1.5rem;


}

.about-section h1{
    text-align: center;
    padding-top: 50px;
}

.about-section  h1:hover, p:hover{
    color: black;
}






