/* NAVIGATION BAR */


.portfolio-page{
    text-align: center;
  }


.portfolio-page #Capital{
    color: #39CCCC;
}

.portfolio-page nav{


    max-width: 400px;
}

.portfolio-page h1 a{
      text-decoration: none;
      color:black;
}


.portfolio-page ul li a:hover{
    font-size: 1.2em;
    font-weight: bold;
}


.portfolio-page button{
   position: relative;
   outline: 1px solid red !important;
}




/* SUB_NAVIGATION CLASS  outline: 1px solid red !important;*/
.sub-navigation{
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.sub-navigation li a{
  color: #AAAAAA;
  font-family: sans-serif;
}

.sub-navigation li a:hover{
  color: #39CCCC;
}

.sub-navigation a{
	color: #39CCCC;
	text-decoration: none;
	padding:0px;
	font-size: 14px;
  }

.sub-navigation li:after{
	  content: '/' ;
	  padding:0 2px;
    color:#39CCCC;
}

.sub-navigation li:last-child:after {
 	  content: none;
}

.sub-navigation a:hover{
 	  color: red;
}

/* SUB_NAVIGATION CLASS */
hr{
	border-top: 1px solid #AAAAAA;

}







/* Team Members  outline: 1px solid red !important;*/
.team-members {
  justify-content: center;
  margin-top: 100px;
  margin-left: 35px;
}

.team-members h1{
  margin-top:30px;
  margin-bottom: 45px;
  padding: 0px;
  color: #AAAAAA;
}

.team-members p{
  color: #7FDBFF;
}
.team-members h3 a{
  text-decoration: none;
  color: #AAAAAA;
  font-weight: normal;
}

.team-members h3 a:hover{
  text-decoration: underline;
  color: #7FDBFF;
}


/* Row 2 */
#id2{
  margin-bottom: 200px;
}





































html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}


@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}


@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}


@media (min-width: 1200px) {
    .portfolio-page nav{
        margin-left: 350px;

    }
}
