/** {
   outline: 1px solid red !important;
}
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}


@media (min-width: 1200px) {
    .container  {
        max-width: 350px;
        align-items: center;
        margin-top: 0px;

    }
}

.login-button {
  margin-top: 200px;

  margin-right: 30px;
  padding: 0px;


}

.login-button ul li{
  display: inline;
  margin:10px;
}







.main-page{
    text-align: center;
    padding-top: 170px;
}

.main-page #Capital{
    color: #39CCCC;
}


.main-page h1 a{
      text-decoration: none;
      color:black;
}


nav ul li a:hover{
    font-size: 1.2em;
    font-weight: bold;
}

.main-page button{
    position: relative;

}
