* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/* NAVIGATION BAR */
.team-page{
    text-align: center;
  }


.team-page #Capital{
    color: #39CCCC;
}


.team-page h1 a{
      text-decoration: none;
      color:black;
}


.team-page ul li a:hover{
     font-size: 1.2em;
    font-weight: bold;
}


.team-page button{
   position: relative;
   outline: 1px solid red !important;
}


/* SUB_NAVIGATION CLASS  outline: 1px solid red !important;*/
.sub-navigation{

    max-width: 460px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.sub-navigation li a{
  color: #AAAAAA;
  font-family: sans-serif;
}

.sub-navigation li a:hover{
  color: #39CCCC;
}

.sub-navigation a{
	color: #39CCCC;
	text-decoration: none;
	padding:0px;
	font-size: 14px;
  }

.sub-navigation li:after{
	  content: '/' ;
	  padding:0 2px;
    color:#39CCCC;
}

.sub-navigation li:last-child:after {
 	  content: none;
}

.sub-navigation a:hover{
 	  color: red;
}

/* SUB_NAVIGATION CLASS */
hr{

	border-top: 0.1px solid #111111 ;

}


/* Team Members  outline: 1px solid red !important;*/

.team-members {
  justify-content: center;
  margin-top: 100px;
}

.team-members h1{
  margin-top:30px;
  margin-bottom: 45px;
  padding: 0px;
  color: #AAAAAA;
}

.team-members h2 {
  margin: 0px;
  color: #111111 ;
}


.team-members h2{
  margin-top: 5px;

}

.team-members .blur{
  opacity: 0.5;
}

.team-members .blur:hover,h6:hover{
  opacity: 1;
  color: green;

}



.team-members a{
  color: #AAAA;
}

.team-members .twitter:hover{
  color:#00aced;
}

.team-members .facebook:hover{
  color: #3b5998;
}

.team-members .linkedin:hover{
  color:#007bb6;
}





/* row2 of team-members */
.team-members .row2 {
  margin-top: 5rem;
}

#growth {
  margin-top: 50px;
}




/*   Operations Section */
#operations{
  margin-top: 200px;
  margin-bottom: 200px;
}





















html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}


@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}


@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}


@media (min-width: 1200px) {
    .team-page{
        max-width: 450px;
        margin: auto;

    }
}



.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
